@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  background-color: $color-primary;
  padding: $gap-lg 0;

  &__container {
    display: grid;
    gap: $gap;

    @extend %container;

    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }

    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .btn--primary {
    width: 100%;

    border-color: rgba($color-light, 0);
    border-bottom-color: rgba($color-light, 0.2);
    background-color: rgba($color-light, 0.1);
  }
}
