@use "../presets" as *;
@use "mixins" as *;
@use "mixins-media" as *;

%container {
  width: min(100% - $gap * 2, $container);
  -webkit-margin-end: auto;
  -moz-margin-end: auto;
  -webkit-margin-start: auto;
  -moz-margin-start: auto;
}
