@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  position: relative;
  z-index: 1;

  &__container {
    @extend %container;
  }

  &__title {
    margin: 0 0 52px;
  }

  &__actions {
    display: flex;
    gap: $gap;
    justify-content: center;

    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }
}
